.idea/
broadcast/
loc8r/node_modules
KANBAN_REACT/landing/mp4/
KANBAN_REACT/landing/camtasia/
KANBAN_REACT/landing/modelo.txt
KANBAN_REACT/landing/node_modules/
KANBAN_REACT/landing/bower_components/
KANBAN_REACT/landing/build/
KANBAN_REACT/landing/dist/