.idea/
broadcast/
loc8r/node_modules
Site_Novo/landing/mp4/
Site_Novo/landing/camtasia/
Site_Novo/landing/modelo.txt
Site_Novo/landing/node_modules/
Site_Novo/landing/bower_components/
Site_Novo/landing/build/
Site_Novo/landing/dist/